body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    height: 5vh;
}
.logo{
    margin-left: 2rem;
    color: rgba(0, 0, 0, 0.485);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem;
}
.nav li{
    list-style: none;
    color: rgba(0, 0, 0, 0.644);
    font-weight: bold;
}
.slider{
    margin-top: -50px;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.slider .list{
    width: 1140px;
    max-width: 90%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.slider .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
}
.slider .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slider .list .item .detail{
    opacity: 0;
    pointer-events:none;
}
.slider .list .item .intro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25vw;
    opacity: 0;
    pointer-events: none;
} 
.slider .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}
.slider .list .item:nth-child(n + 6){
    opacity: 0;
    pointer-events: none;
}
.slider .list .item:nth-child(2){
    transform: translate(0, 0);
    opacity: 1;
    filter: blur(0);
    z-index: 10;
}
.slider .list .item:nth-child(1){
    transform: translate(-80%) scale(0.8);
    filter: blur(20px);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
}
.slider .list .item:nth-child(3){
    transform: translate(50%, 10%) scale(0.8);
    filter: blur(10px);
    opacity: 1;
    z-index: 9;
}
.slider .list .item:nth-child(4){
    transform: translate(90%, 20%) scale(0.4);
    filter: blur(25px);
    opacity: 1;
    z-index: 8;
}
.slider .list .item:nth-child(5){
    transform: translate(120%, 30%) scale(0.3);
    filter: blur(40px);
    opacity: 0;
    z-index: 7;
    pointer-events: none;
}
.arrows{
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrows #prev,
.arrows #next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid darkcyan;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
}
.arrows #back{
    font-size: 500;
    font-weight: bold;
    background: transparent;
    border: none;
    border-bottom: 1px solid darkcyan;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}
.arrows #prev:hover,
.arrows #next:hover,
.arrows #back:hover{
    color: rgba(0, 0, 0, 0.589);
    transform: scale(1.2);
    transition: 0.5s ease;
    border-radius: 5px;
}
.slider .intro .tittle{
    font-size: 2em;
    letter-spacing: 4px;
    padding-bottom: 10px;
}
.slider .intro .topic{
    font-size: 2.6em;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
.slider .intro .det{
      color: rgba(0, 0, 0, 0.425);
      letter-spacing: 1x;
      line-height: 20px;
      padding-bottom: 10px;
}
.slider .intro .btn button{
  font-size: 500;
    font-weight: bold;
    background: transparent;
    border: none;
    border-bottom: 1px solid darkcyan;
    letter-spacing: 2px;
    cursor: pointer;
}
.slider .intro .btn button:hover{
     color: rgba(0, 0, 0, 0.589);
    transform: scale(1.2);
    transition: 0.5s ease;
    border-radius: 10px;
}
.slider .list .item:nth-child(2) .intro .tittle,
.slider .list .item:nth-child(2) .intro .topic,
.slider .list .item:nth-child(2) .intro .det,
.slider .list .item:nth-child(2) .intro .btn{
    animation: showContent 0.3s 0.5s ease-in-out;
}
@keyframes showContent{
    from{
        transform: translateY(50px);
        filter: blur(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}
.slider .list .item:nth-child(2) .intro .topic{
    animation-delay: 0.9s;
}
.slider .list .item:nth-child(2) .intro .det{
    animation-delay: 1.1s;
}
.slider .list .item:nth-child(2) .intro .btn{
    animation-delay: 1.3s;
}

.slider.next .list .item:nth-child(1){
    animation: positionItem2 0.5s ease-in-out forwards;
}
@keyframes positionItem2{
    from{
          transform: translate(0, 0);
    opacity: 1;
    filter: blur(0);
    z-index: 10;
    }
}

.slider.next .list .item:nth-child(2){
    animation: positionItem3 0.7s ease-in-out forwards;
}
@keyframes positionItem3{
    from{
        transform: translate(50%, 10%) scale(0.8);
    filter: blur(10px);
    opacity: 1;
    z-index: 9;
    }
}
.slider.next .list .item:nth-child(3){
    animation :positionItem4 0.9s ease-in-out forwards;
}
@keyframes positionItem4{
    from{
          transform: translate(90%, 20%) scale(0.4);
    filter: blur(25px);
    opacity: 1;
    z-index: 8;
    }
}
.slider.next .list .item:nth-child(4){
    animation: positionItem5 1.1s ease-in-out forwards;
}
@keyframes positionItem5{
    from{
        transform: translate(120%, 30%) scale(0.3);
    filter: blur(40px);
    opacity: 1;
    z-index: 7;
    }
}

.slider.prev .list .item:nth-child(2){
    animation: positionItem1 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem1{
    from{
          transform: translate(-80%) scale(0.8);
    filter: blur(20px);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    }
}

.slider.prev .list .item:nth-child(3){
    animation: positionItem2 0.7s ease-in-out 1 forwards;
}
.slider.prev .list .item:nth-child(4){
    animation: positionItem3 0.9s ease-in-out 1 forwards;
}
.slider.prev .list .item:nth-child(5){
    animation: positionItem4 1.1s ease-in-out 1 forwards;
}

.slider.detail .list .item{
    transition: left 0.5s, opacity 0.5s;
}
.slider.detail .list .item:nth-child(3),
.slider.detail .list .item:nth-child(4){
           left: 100%;
           opacity: 0;
           pointer-events: none;
}
.slider.detail .list .item:nth-child(2){
    width: 100%;
}
.slider.detail .list .item:nth-child(2) .intro{
      opacity: 0;
      pointer-events: none;
}
.slider .list .item:nth-child(2){
    transition: right 0.5s;
}
.slider.detail .list .item:nth-child(2) img{
    right: 50%;
}
.slider.detail .list .item:nth-child(2) .detail{
    opacity: 1;
    pointer-events: auto;
    width: 50%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}
.slider .list .item .detail .tittle{
    font-size: 4em;
    letter-spacing: 2px;
    padding-top: 100px;
}
.slider .list .item .detail .det{
    color: rgba(0, 0, 0, 0.477);
}
.slider .list .item .detail .specification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid green;
}
.slider .list .item .detail .specification h5{
    font-weight: bold;
    font-size: 0.8rem;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider .list .item .detail .clicks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}
.slider .list .item .detail .clicks button{
   border: none;
   background: transparent;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   cursor: pointer;
   border: 1px solid darkred;
   border-radius: 10px;
   outline: none;
   width: 140px;
   height: 40px;
}
.slider .list .item .detail .clicks button:hover{
    background-color: darkcyan;
    color: white;
    transform: scale(1.2);
    border: none;
    transition: 0.5s ease-in-out ;
}
.slider .list .item:nth-child(2) .detail .tittle, 
.slider .list .item:nth-child(2) .detail .det, 
.slider .list .item:nth-child(2) .detail .specification, 
.slider .list .item:nth-child(2) .detail .clicks{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
} 
.slider .list .item:nth-child(2) .detail .tittle{
    animation-delay: 0.9s;
}
.slider .list .item:nth-child(2) .detail .det{
    animation-delay: 1.1s;
}
.slider .list .item:nth-child(2) .detail .specification{
    animation-delay: 1.3s;
}

.slider.next .list .item:nth-child(2) .detail .clicks{
    animation-delay: 1.5s;
}
.slider.detail #next,
.slider.detail #prev{
    opacity: 0;
    pointer-events: none;
}
.slider.detail #back{
    opacity: 1;
    pointer-events: auto;
}
.slider::before{
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(
        45deg, #dc422e, rgba(0, 0, 255, 0.557)
    );
    position: absolute;
    z-index: -1px;
    border-radius: 20% 30% 80% 10%;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-35%,-50%);
    transition: 1s;
}
.slider.detail::before{
    transform: translate(-100%, -50%) rotate(70deg);
}